/* Stile delle card degli eventi */
.event-card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    margin: 20px;
}

.event-card:hover {
    transform: scale(1.05);
}

.card-header {
    background-color: #00ACC1;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.card-body {
    padding: 15px;
    font-size: 14px;
    color: #555;
}

.event-description {
    margin-bottom: 10px;
    color: #333;
}

/* Stile per il campo "sport" */
.sport {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    background-color: #e7f3fe;
    padding: 8px 12px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

/* Stile per il campo "città" */
.event-description {
    font-size: 14px;
    color: #555;
}

/* Stile per il campo "luogo" */
.event-location {
    font-size: 12px;
    color: #777;
    padding: 5px 10px;
}

/* Stile per il campo "data" */
.event-date {
    font-size: 12px;
    color: #777;
    padding: 5px 10px;
}

.card-footer {
    background-color: #f7f7f7;
    padding: 10px;
    text-align: center;
}

.card-footer p {
    margin: 5px 0;
}

/* Stile del bottone "Dettagli" */
.details-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    transition: color 0.3s, background-color 0.3s;
}

.details-link:hover {
    color: #0056b3;
    text-decoration: none;
}

/* Aggiustamenti per schermi piccoli */
@media screen and (max-width: 768px) {
    .event-card {
        width: 100%;
    }

    .card-header h2 {
        font-size: 16px;
    }

    .card-body {
        padding: 10px;
    }

    .sport {
        font-size: 14px;
    }

    .event-location, .event-date {
        font-size: 12px;
    }
}
