/* Stile generale */
body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f8ff; /* Sfondo chiaro */
    color: #333;
}

/* Contenitore principale */
.container {
    max-width: 98%; /* Quasi tutta la larghezza dello schermo */
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
}

/* Titolo */
h1 {
    text-align: center;
    color: #17a2b8; /* Blu acceso */
    font-size: 28px;
    margin-bottom: 10px;
}

/* Bottone Torna alla Dashboard */
.dashboard-button {
    position: absolute;
    margin: 20px 0px;
    background-color: #FFBF00;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.dashboard-button:hover {
    background-color: #F4A900;
    color: #fff;
}

/* Tabella */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Intestazione della tabella */
th {
    background-color: #17a2b8; /* Colore azzurro */
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

/* Celle della tabella */
td {
    padding: 10px;
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
}

/* Riga alternata */
tr:nth-child(even) {
    background-color: #f2f9ff;
}

/* Hover effetto */
tr:hover {
    background-color: #e8f4fc;
    transition: background-color 0.3s;
}

/* Pulsanti di Azione */
.action-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

button {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    transition: transform 0.2s ease;
}

button.modifica {
    background-color: #009000;
}

button.modifica:hover {
    background-color: #0a5c0a;
    color: #fff;
}

button.elimina {
    background-color: #e61919;
}

button.elimina:hover {
    background-color: #b81414;
    color: #fff;
}

i.fas.fa-user {
    font-size: 2em;
    color: #FFBF00;
}
/* Colore per lo stato */
td.stato {
    font-weight: bold;
    color: #007bff;
}
