/* Stile generale della pagina */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column; /* Imposta una disposizione verticale */
    min-height: 100vh; /* Assicura che il body occupi almeno l'altezza dello schermo */
}

.page-title {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}

.main-content{
    flex: 1;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
